{% load static %}
	<!-- <title>Footer</title>-->
<link href="{% static 'C:/Data Science/Django/onlinesale/static_proj/css/960_12_col.css' %}" rel="stylesheet"/>
<link href="{% static 'C:/Data Science/Django/onlinesale/static_proj/css/main.css' %}" rel="stylesheet"/> 
<!-- <div class='row1'> -->
<div class='row1'>
	<div class="grid_3">
		<address>
			Itvedant,<br>
			1st floor, shanta sadan<br>
			Gokhale road, Thane-400602
			<br>contact: 9898989898
		</address>
	</div>
	<div class="grid_6">
		<p>copyright &copy; 2019. All right reserved.<br>
		Designed and developed by <a href=""><i>Kirtiraj</i></a>
		</p>
	</div>
	<div class="grid_3l">
		<strong>Follow us on</strong>
		<ul>
			<li><a href="">Facebook</a></li>
			<li><a href="">Instagram</a></li>
			<li><a href="">Twitter</a></li>
		</ul>
	</div>
</div>
<div class="clear"></div>
